 <%- include('./partials/header.ejs') %>
<body>
  <h1>Producto id</h1>
  <!-- <center>
  <div class="card" style="width: 18rem">
    <img src="<%= producto.img %>"
      class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Nombre: <%= productos.name %></h5>
      <p class="card-text">Descripcón: <%= productos.description %></p>
      <p class="card-text" name="code" >Código: <%= productos.code %></p>
      <p class="card-text">Precio: $<%= productos.price %></p>
  
    </div>
    <form class="form" action="/products/list/:id"  method="post" role="form" autocomplete="off" enctype="multipart/form-data">
      <div class="form-group">
        <input
          id="quantity"
          name="quantity"
          placeholder="cantidad"
          class="form-control"
          type="number"
          required
        />
        <button class="btn btn-success my-3 submit" type="submit">Agregar al carrito</button>
    </form>
    
    <a href="/" class="btn btn-primary">Volver a inicio</a>
  </div></center> -->
</body> 
